.accountsReceivableViewContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.accountsReceivable {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.accountsReceivableCard {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}